body{
	background-image: url(hacker-at-computer.jpg)



}
h1{
	color: whitesmoke;
	text-align: center;
	border:3px solid blueviolet;
}
p{
	color: whitesmoke;

}
h2{
	color: whitesmoke;
}
ul{
	color: whitesmoke;
}
